{% load filter_all %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .condition a {
            display: inline-block;
            padding: 3px 5px;
            border: 1px solid #dddddd;
            margin: 5px 5px;
        }
        .condition a.active {
            background-color: greenyellow;
        }
    </style>
</head>
<body>
<h1>过滤条件</h1>
<div class="condition">
<div>
    {% filter_all arg_dict 'article_type_id' %}
    {% filter_article_type_list article_type_list arg_dict %}
</div>
<div>
    {% filter_all arg_dict 'category_id' %}
    {% filter_category_list category_list arg_dict %}
</div>
</div>
<h1>查询结果</h1>
<ul>
    {% for row in result %}
        <li>{{ row.id }}-{{ row.title }}</li>
    {% endfor %}
</ul>
</body>
</html>